*{

    margin: 0;
    padding: 0;
    font-family: Nunito, sans-serif;

}

ul{

    list-style-type:none;

}

body{

    background-image: url(../assets/winter.jpg);
    background-repeat: no-repeat;
    background-position: 50%;

    background-size: cover;

    background-color: #fafafa;

    background-attachment: fixed;

}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

/* navigation */

nav{

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;

}

 .close,.menu {

    display: none;

}

.logo-txt{

    font-size: large;
    font-weight: bold;
}

.logo{

    font-size: xxx-large;

}

.nav-list{

    display: flex;
    justify-content: space-evenly;
    color: dimgray;

    transition: width 0.8s;

}

.nav-item{

    margin: 0 1rem;

    font-size: x-large;

    cursor: pointer;

}

.nav-item:hover{

    font-weight: bold;

}

.nav-item-active{

    margin: 0 1rem;

    font-size: x-large;

   font-weight: bold;

}

/* main section */

main{

    margin: 10rem 0;

    width: 100vw;

    text-align: center;

    display: flex;

    justify-content: center;

    align-content: center;

}

main h1 span{

color: red;

}

/* footer */

footer{

    margin-top: 2rem;

    height: 3rem;

    background-color: cadetblue;

    color: #fafafa;

    display: flex;

    justify-content: center;

    align-items: center;

    position: absolute;

    bottom: 0;

    width: 100%;

}

footer p{


    font-family: Arial, Helvetica, sans-serif;

    font-size: medium;

}

/* media queries */

@media screen and (max-width: 700px){


    .nav-list{

        display: none;

    }

    .menu{

        display: inline;

        font-size: xxx-large;

        color: darkslategray;

        border: solid darkslategray 1px;

        border-radius: 6px;

        cursor: pointer;

        transition-duration: 0.6s;

        outline: none;

    }

    .menu:hover{

        color: #fafafa;

        background-color: darkslategray;

    }

    .menu:active{

        color: #fafafa;

        background-color: ghostwhite;

    }

    .nav-list{

        position: fixed;

        top: 0;

        right: 0;

        z-index: 100;
    
        height: 0;
    
        width: 0;

        display: flex;
    
        background-color: khaki;
    
        color: #fafafa;
    
        flex-direction: column;
    
        justify-content: space-evenly;
    
        align-items: center;
    
    }

    .nav-item, .nav-item-active{

        color: transparent;

    }

    .close{

        font-size: 5rem;


    }

}