

::-webkit-scrollbar {
    width: .7rem;
  }

::-webkit-scrollbar-track {
    background: #34495e;
  }

::-webkit-scrollbar-thumb {
    background: #2980b9;
  }

body{

    background-image: url(../assets/material.jpg);

    background-size: cover;

    overflow: hidden;

}


#head{

    display: flex;

    justify-content: space-between;

    padding: 2rem;


}

#menu{

    display: flex;

    align-items: center;
}

.menu{

    color: #fafafa;

    font-size: 3rem;

    background-color: #64307A;

    padding: 1rem;

    cursor: pointer;

}

.menu:hover{

    color:  #64307A;

    background-color: #fafafa;

    transition: color, background-color .1s ease-in;

}

.menu:active{

    color: #fafafa;

    background-color: #64307A;

    transition: color, background-color .1s ease-in;

}

#title{

    font-family: Arial, Helvetica, sans-serif;

display: flex;
justify-content: center;
align-items: center;

padding-left: 1rem;
padding-right: 1rem;

height: 5rem;

background-color: #8e44ad;
color: #fafafa;

}

.button{

    font-size: 3rem;
    padding: 1rem;

    margin-left: 1rem;

    border-radius: 12cm;

    color: #fafafa;

    cursor: pointer;

}

.button:hover{

    padding:  1.05rem;

    transition: padding .1s ease-in;


}

.button:active{

    padding: 0.95rem;

    transition: padding .1s ease-in;


}

#videos{

   background-color: #3498db;

    margin: 0 2rem 0 2rem;

    height: 50rem;

    padding: 2rem;

    overflow-y: scroll;

    border-radius: 12px;

}

#video{

    display: flex;

    text-align: center;

    align-items: center;

    justify-content: space-between;

    background-color: #fafafa;

    height: 7rem;

    margin-bottom: 2rem;

    border-radius: 25px;

    box-shadow: -4px 4px 20px 0px #34495e;
}

#thumbnail{

    display: flex;

    justify-content: center;

    align-items: center;

    background-color: #34495e;

    border-radius: 25px 0 0 25px;

    height: 7rem;

    width: 10rem;

    cursor: pointer;

    font-size: 4rem;

    color: rgba(0, 0, 0,0);

}

#thumbnail:hover{

    opacity: 0.5;

    color: white;

    transition: opacity, color .1s ease-in;


}

#thumbnail:active{

    opacity: 1;

    background-color: white;

    color: #34495e;

    transition: opacity, color, background-color .1s ease-in;


}

/* #info{

    display: flex;

    text-align: center;

    align-items: center;

} */

#video-title,.bar,#file-type,#storage,#length,#date{

    margin:0 1rem 0 1rem;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    color: #34495e;

}

#video-title{

    font-size: 2.1rem;

}

#storage{

margin-top: 1rem;

}

#play,#close{


    color: #34495e;

    font-size: 4rem;

    cursor: pointer;

}

#close{

margin-right: 1rem;

}

#play:hover,#close:hover{

    color: #3498db;

    transition: color .1s ease-in;

}

#play:active,#close:active{

    color: white;

    transition: color .1s ease-in;

}